<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Checkerboard</title>
</head>
<body>
    <h1>Let's play checkers</h1>
    {% for row in result %}
    <div>
        {% for cell in row %}{% if cell == 1 %}<div class="cell cell1" style="background-color: {{color1}};">{{cell}}</div>{% else %}<div class="cell cell0" style="background-color: {{color0}};">{{cell}}</div>{% endif %}{% endfor %}
    </div>
    {% endfor %}
</body>
</html>